* {
    box-sizing: border-box;
}

html, body {
    overflow: auto;
}

.weui-article {
    padding: 48px 24px !important;
    color: #313131;
}

.weui-article h1, .weui-article h2, .weui-article h3 {
    color: #1a1a1a;
    font-weight: 700;
}

.weui-article h1 {
    margin-bottom: 16px;
    text-align: center;
    font-size: 24px;
}

.weui-article h2 {
    margin-bottom: 16px;
    font-size: 20px;
}

.weui-article h3 {
    margin-bottom: 8px;
    font-size: 18px;
}

.weui-article h4, .weui-article p {
    color: #313131;
}


pre {
    display: block;
    font-family: monospace;
    white-space: pre;
}
